* {
  margin: 0;
  padding: 0;
}

.logo-and-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Permettre le positionnement absolu des enfants */
  font-family: sans-serif;
  height: 10.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(229, 25, 100);

  svg {
    height: 6em;
  }
}

.header-title-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  h1.header-title {
    font-weight: bolder;
    font-size: 2.3rem;
    color: #2e404f;
    margin: 0;
  }
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  color: #fff;

  .li-nav {
    svg {
      width: 4em;
      height: auto;
      cursor: pointer; /* Ajoutez un curseur pour indiquer qu'il est cliquable */
    }
  }
}

/********** Media **********/
/* Pour gérer le header lors de tailles intermédiaires */
@media (max-width: 990px) {
  h1.header-title {
    font-size: 1.8em;
  }

  .logo-and-text-container {
    svg {
      height: 5em;
    }
  }
}

@media (max-width: 768px) {
  h1.header-title {
    display: none;
  }

  .logo-and-text-container {
    svg {
      height: 4em;
    }
  }

  div .logo-and-text-container {
    height: 8em;
  }

  .li-nav {
    svg {
      display: none;
    }
  }
}
