* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  height: 10.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(229, 25, 100);

  svg {
    height: 6em;
  }

  
}
/* .burger-menu, .close-menu{
  display: none;
} */

h1.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  font-size: 2.3rem;
  color: #2e404f;
}

ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;

  .login-logo {
    svg {
      width: 4em;
      height: auto;
      cursor: pointer;
    }
  }

  
  li {
    display: none;
  }
}

@media (min-width: 768px) {
  .burger-menu, .close-menu {
    display: none;
  }
}
/********** Media **********/
/* Pour gérer le header lors de tailles intermédiaires */
@media (max-width: 990px) {
  h1.header-title {
    font-size: 1.8em;
  }

  ul {
    .li-nav {
      svg {
        width: 3em;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  h1.header-title {
    display: none;
  }

  .nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .close-menu{
      display: none;
    }
  }
  .login-logo {
    display: none;
  }

  .header {
    position: relative;
    svg {
      height: 5em;
    }
  }

.open-burger{
  border: 1px solid rgb(229, 25, 100);
  display: flex;
  flex-direction: column;
}

  .burger-menu {
    cursor: pointer;
    right: 0px; 
    z-index: 1;
    svg {
      color: rgb(229, 25, 100);
      gap: 10px;
      height: 4em;
    }
  }



  
  .nav.open {
    display: flex;
    background-color: white;
    border-radius: 15px;
    width: auto;
    padding: 15px;
    .burger-menu{
      display: none;
    }
    .close-menu{
      position: relative;
      display: flex;
      color: rgb(229, 25, 100);
      font-size: 50px;
      font-family: sans-serif;
      right: 20px;
    }

    
    ul.nav-items {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: auto;
      right: 0px;
      top: 85px;
      /* row-gap: 10px; */
      background-color: white;
      border: 1px solid red;
      border-radius: 1px 1px 15px 15px;
      padding: 10px 15px;
      border-top: none;
    }

    ul {
      li {
        display: flex;
        color: rgb(229, 25, 100);
      }
    }
  }
}

/* 

* {
    margin: 0;
    padding: 0;
  }
  
  .logo-and-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    font-family: sans-serif;
    height: 10.5rem;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(229, 25, 100);
  
    svg {
      height: 6em;
    }
  }
  
  .header-title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  
    h1.header-title {
      font-weight: bolder;
      font-size: 2.3rem;
      color: #2e404f;
      margin: 0;
    }
  }
  
  ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    color: #fff;
  
    .li-nav {
      svg {
        width: 4em;
        height: auto;
        cursor: pointer;
      }
    }
  
    @media (min-width: 768px) {
      .burger-menu {
        display: none;
      }
    }
  } */

/********** Media **********/
/* Pour gérer le header lors de tailles intermédiaires */
/* @media (max-width: 990px) {
    .header-title-container {
      h1.header-title {
        font-size: 1.8em;
      }
    }
    .logo-and-text-container {
      svg {
        height: 4.5em;
      }
    }
  
    ul {
      .li-nav {
        svg {
          width: 3em;
          height: auto;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    h1.header-title {
      display: none;
    }
  
    .logo-and-text-container {
      svg {
        height: 4.5em;
      }
    }
  
    div .logo-and-text-container {
      height: 8em;
    }
  
    .li-nav {
      svg {
        display: none;
      }
    }
  
    .burger-menu {
      display: block;
      cursor: pointer;
      svg {
        color: rgb(229, 25, 100);
      }
    }
  
    ul {
      justify-content: flex-end;
  
      .nav-items {
        display: flex;
      }
    }
  
    .nav.open {
      display: flex;
      flex-direction: column;
      background-color: white;
      position: relative;
      border-radius: 15px;
      width: 15em;
      border: 1px solid rgb(229, 25, 100);
    }
  }
   */
